/* -------------------------------------------------- 
:: main.css
:: Strategic Plan 2012 Stylesheet
:: Author: Joanna Lit
---------------------------------------------------*/
@import "foundation.css";

//--------------------------------------------------
// Color
//-------------------------------------------------- 
$acsdarkblue:#0153A5;
$acsdarkyellow:#E5B100;
$goal1color:#331549;
$goal2color:#555555;
$goal3color:#9FC2C6;
$goal3intro:#9ec2c5;
$goal4color:#6b9800;
$goal4intro:#296d14;
$skyblue:#c8dfea;
$navbarcolor:#ddb846;
$btnradius:4px;

@mixin gradient-linear($from, $to) { 
	background-color: $to;
  	background: -moz-linear-gradient($from, $to);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  	background: -webkit-linear-gradient($from, $to);
  	background: -o-linear-gradient($from, $to);	
	background: -ms-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(top, $from 0%,$to 100%);
}
@mixin gradient-radial($to, $from) { 
	background: $to;
	background: -moz-radial-gradient(center, ellipse cover,  $from 25%, $to 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,$from), color-stop(70%,$to));
	background: -webkit-radial-gradient(center, ellipse cover,  $from 25%,$to 70%);
	background: -o-radial-gradient(center, ellipse cover, $from 25%,$to 70%);
	background: -ms-radial-gradient(center, ellipse cover, $from 25%,$to 70%);
	background: radial-gradient(center, ellipse cover, $from 25%,$to 70%);
}

@mixin transition($property, $time, $easing) {
	-webkit-transition:$property $time $easing;
	-moz-transition:$property $time $easing;
	-o-transition:$property $time $easing;
	-ms-transition:$property $time $easing;	
	transition:$property $time $easing;
}

@mixin transform($property, $deg){
	-webkit-transform: $property($deg); 
	-moz-transform: $property($deg); 
	-o-transform: $property($deg);  
	-ms-transform: $property($deg); 			
}


@-webkit-keyframes windmillAnimation {
	from { -webkit-transform: rotate(0deg);	}
	to {-webkit-transform: rotate(1440deg);	}
}
@-moz-keyframes windmillAnimation {
	from {-moz-transform: rotate(0deg); }
	to {-moz-transform: rotate(360deg); }
}
@-ms-keyframes windmillAnimation {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes balloonAnimation {
	from { -webkit-transition:top 1s ease; -webkit-transition:left 1s ease; top:98px; left:680px;}
	to { -webkit-transition:top 1s ease; -webkit-transition:left 1s ease; top:76px; left:700px;}
}
@-moz-keyframes balloonAnimation {
	from { -moz-transition: top 1s ease; -moz-transition: left 1s ease; top:98px; left:680px;}
	to { -moz-transition:top 1s ease; -moz-transition:left 1s ease; top:76px; left:700px;}
}
@-ms-keyframes balloonAnimation {
	from { -ms-transition:top 1s ease; -ms-transition:left 1s ease; top:98px; left:680px;}
	to { -ms-transition:top 1s ease; -ms-transition:left 1s ease; top:76px; left:700px;}
}
@-o-keyframes balloonAnimation {
	from {
		-o-transition:top 1s ease; -o-transition:left 1s ease; top:98px; left:680px;}
	to { -o-transition:top 1s ease; -o-transition:left 1s ease; top:76px; left:700px;}
}

@-webkit-keyframes cloud4Animation {
	0% { opacity:0; left:690px; }
	20% { opacity:1; }
	80% { opacity:0.9; }
	100% { opacity:0; left:805px; }
}
@-moz-keyframes cloud4Animation {
	0% { opacity:0; left:690px; }
	20% { opacity:1; }
	80% { opacity:0.9; }
	100% { opacity:0; left:805px; }
}
@-ms-keyframes cloud4Animation {
	0% { opacity:0; left:690px; }
	20% { opacity:1; }
	80% { opacity:0.9; }
	100% { opacity:0; left:805px; }
}
@-o-keyframes cloud4Animation {
	0% { opacity:0; left:690px; }
	20% { opacity:1; }
	80% { opacity:0.9; }
	100% { opacity:0; left:805px; }
}

@-webkit-keyframes cloud5Animation {
	0% { opacity:0; top:775px; left:110px; }
	20% { opacity:1; }
	80% { opacity:0.7; }
	100% { opacity:0; top:785px; left:260px; }
}
@-moz-keyframes cloud5Animation {
	0% { opacity:0; top:775px; left:110px; }
	20% { opacity:1; }
	80% { opacity:0.7; }
	100% { opacity:0; top:785px; left:260px; }
}
@-ms-keyframes cloud5Animation {
	0% { opacity:0; top:775px; left:110px; }
	20% { opacity:1; }
	80% { opacity:0.7; }
	100% { opacity:0; top:785px; left:260px; }
}
@-o-keyframes cloud5Animation {
	0% { opacity:0; top:775px; left:110px; }
	20% { opacity:1; }
	80% { opacity:0.7; }
	100% { opacity:0; top:785px; left:260px; }
}


// -----------------------------------------
//   Shared Styles
//----------------------------------------- */
body { 
	font:13px/1.231 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#333;
}
h1, h2, h3, h4, h5, h6 { font-weight:400; }
h1 { }
h2 { margin:0 0 0.25em 0; font-size:2.75em; font-weight:200; }
h3 { }
h4 { font-size:1.5em; margin-bottom:0.2em; }
h5 { font-size:1.3em; }
h6 { font-size:1.25em; color:#226ABC; text-transform:uppercase; font-weight:400; margin-bottom:0.75em; }

p {	line-height:1.25em; }
section { clear:both; }

.container { 
	//@include gradient-radial(#c8dfea, #ffffff);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8dfea', endColorstr='#ffffff',GradientType=1 );
	background:#c8dfea;
	position:relative;
	padding:0; 
	overflow:hidden;
	width:100%;
}

// -----------------------------------------
//   Header
//----------------------------------------- */
header { 
	position:fixed;
	top:0;
	width:100%;
	z-index:9998;
	background:url(../images/nav-bg.gif) repeat-x scroll 0 10px;
}

.hd { 
	position:relative;
	z-index:2000;
	.row:after { 
		clear:none;
	}
	.acslogo { 
	    position:absolute;
	    z-index:2000;
		top:14px;
		left:16px;
		background:transparent url('../images/acs-logo.png') no-repeat scroll 0 0;
		width:157px;
		height:54px;
	}
	.acstext { 
		font-weight:normal; 
		font-size:1em; 
		position:absolute;
		top:52px;
		right:0;
	}
	.hd-corner { 
		width: 195px; 
		height: 60px; 
		background: #fff; 
		position: relative; 
		display:inline-block;
		float:left;
	    z-index:2000;
	} 
	.hd-corner:before { 
		content: ""; 
		position: absolute; 
		top: -25px; 
		left: 0; 
		width: 0; 
		height: 0; 
		border-left: 50px solid transparent; 
		border-right: 50px solid transparent; 
		border-bottom: 25px solid #fff; 
	} 
	.hd-corner:after { 
		content: ""; 
		position: absolute; 
		bottom: -50px; 
		left: 0; 
		width: 0; 
		height: 0; 
		border-left: 98px solid transparent; 
		border-right: 98px solid transparent; 
		border-top: 50px solid #fff; 
	}	
}

nav { 
	position:relative;
	top:-50px;
	font-size:1.25em;
	text-transform:uppercase;
	text-align:right;
	margin:0;
	width:100%;
	float:right;
	z-index:9997;
	a { 
		color:#fff;
		font-weight:500;
	}
	ul { 
		margin:0;
		display:inline-block;
		text-align:right;
		float:right;
		li { 
			float:left;
			margin:0;
			display:inline;
			cursor:pointer;
			a { 
				float:left;
				padding:8px 15px 7px;
				text-align:center;
				text-shadow:0 1px 1px #7D5200;
				&:hover { color:#fff; text-shadow:0 1px 2px #000000; }
			}
			&.current, &:hover {
				background-image:url('../images/nav-bg-on.gif');
				background-repeat:repeat-x;
				background-color:none;
				a { text-shadow:0 1px 2px #000000; }
			}
			&:hover { 
				background-position:0 -35px; 
			}
			&.current { 
				background-position:0 -70px; 
				border-left:1px solid #e0c472;
				border-right:1px solid #e0c472;
				&:hover { background-position:0 -70px; }
			}
			&.g1, &.g2, &.g3, &.g4 { 
				padding:0; margin-right:5px; 
				&.current { 
					border:none; 
					a { 
						font-size:1.5em; padding:2px 8px 11px 8px; 
					}
				}
				a { 
					display:inline-block;
					height:19px;				
					padding:7px 10px;
					border:none;
					background:#666 url('../images/nav-bg-circle.png') no-repeat scroll 0 0;
					&:hover { color:#fff; }
				}
			}
			&.g1 a:hover, &.g1.current a { background-color:#5e437a; }
			&.g2 a:hover, &.g2.current a { background-color:#373737; }
			&.g3 a:hover, &.g3.current a { background-color:#9ec2c5; }
			&.g4 a:hover, &.g4.current a { background-color:$goal4color; }
			&.gmain, &.core { border-left:1px solid #E0C472; }
		}
	}
	select { 
		display:none;
		margin-top:5px; 
		width:100px; 
	}
}
.downloadpdf { 
	position:relative;
	right:12%;
	top:140px;
	float:right;
	display:block;
	width:112px;
	height:20px;
	padding:12px 10px 8px 48px;
	background:transparent url(../images/btn-download.png) no-repeat scroll 0 0;
	color:#fff;
	font-size:1em;
	text-transform:uppercase;
	text-shadow:0 2px 1px #1B3C75;
	box-shadow:0 1px 0px #fff;
	&:hover { 
		background-position:bottom left;
		color:#fff; 
	}
}


// -----------------------------------------
//   Core Value
//----------------------------------------- */
#visionmission, #core, #goals { position:relative; }
#visionmission { 
	z-index:3;
	background:url('../images/home-bg.gif') repeat-x scroll left bottom;
	display:block;
	height:330px;
	clear:both;
	padding-top:8em;
	.title { 
		font-size:6em;
		font-weight:200;
		position:relative;
		top:50px;
		.sp12 { 
			color:$acsdarkblue;
			position:relative; 
			left:10%;
		}
		.andbeyond { 
			color:$acsdarkyellow; 
			position:absolute;
			top:65px;
			left:47%;
		}
	}
	.vision, .mission { 
		position:relative;
		top:80px;
		left:10%;
		float:left;
		width:260px;
		clear:both;
		margin-bottom:0.5em;
		h3 { text-transform:uppercase; }
	}
}

#corevalue { 
	z-index:1;
	height:950px;
	color:#fff !important;
	font-size:1em;
	text-shadow:0 3px 20px #000000, 0 1px 5px #000000, 0 1px 5px #000000;
	.row { 	
		left:35px;
		@include transition(all ,2s, linear);
	}
	div, h1, p { 	
		position:relative;
		z-index:2; 
	}
	h1 { 
		position:relative;
		font-size:3.75em;
		font-weight:200;
		text-align:center !important;
		left:220px;
		top:210px;
		width:50%;
		color:#fff;
	}
	h5 { 
		color:#fff; 
		line-height:1.2em; 
	}
	p { 
		position:relative;
		top:210px;
		left:271px;
		font-size:120%;
		width:40%; 
	}
	.col-l, .col-r { 
		position:relative;
		top:220px;
		width:180px; 
	}
	.col-l { 
		float:left;
		left:17%;
	}
	.col-r {
		float:left; 
		left:43%;
	}
	ul { margin:0.75em 0 2.5em;
		li {
			list-style-type:disc;
			margin:0 0 0.25em 1em;
		}
	}
	.graphic-earth { 
		background:url(../images/core-earth.jpg) no-repeat scroll 0 0;
		width:905px;
		height:978px;
		display:block;
		margin:auto;
		position:absolute;
		z-index:1;
	}
	.sprite { 
		position:absolute;
		background:transparent url(../images/core-sprite.png) no-repeat scroll 0 0;
		display:block;
		z-index:3;
		@include transition(all ,2s, linear);
		&.windmill {
			&.lrg { 
				background-position:-15px -3px;
				width:90px;
				height:90px;
				top:31px;
				left:418px;
				&.btm { 
					top:819px;
					left:739px;
				}
			}
			&.med { 
				background-position:-24px -112px;
				width:61px;
				height:61px;
				top:87px;
				left:412px;
				&.btm { 
					top:781px;
					left:750px;
				}
			}
			&.sm { 
				background-position:-36px -185px;
				width:41px;
				height:41px;
				top:122px;
				left:407px;
				&.btm { 
					top:757px;
					left:764px;
				}
			}
			&.animation { 
				-moz-animation: windmillAnimation 5s infinite linear;
				-webkit-animation: windmillAnimation 20s infinite linear;
				-ms-animation: windmillAnimation 10s infinite linear;
			}
		}
		&.balloon { 
			background-position:18px -247px;
			width:126px;
			height:101px;
			top:98px;
			left:680px;
			&.animation { 
				-moz-animation: balloonAnimation 3s infinite alternate linear both;
				-webkit-animation: balloonAnimation 3s infinite alternate linear both;
				-ms-animation: balloonAnimation 3s infinite alternate linear both;
				-o-animation: balloonAnimation 3s infinite alternate linear both;
			}
		}
		&.cloud4 { 
			background-position:-130px -191px;
			width:226px;
			height:277px;
			top:470px;
			left:745px;
			opacity:0;
			&.animation { 
				-moz-animation: cloud4Animation 30s infinite normal ease-in-out forwards;
				-webkit-animation: cloud4Animation 30s infinite normal ease-in-out forwards;
				-ms-animation: cloud4Animation 30s infinite normal ease-in-out forwards;
				-o-animation: cloud4Animation 30s infinite normal ease-in-out forwards;
			}
		}
		&.cloud5 { 
			background-position:-130px -18px;
			width:201px;
			height:170px;
			top:755px;
			left:110px;
			opacity:0;
			&.animation { 
				-moz-animation: cloud5Animation 25s infinite normal ease-in-out forwards;
				-webkit-animation: cloud5Animation 25s infinite normal ease-in-out forwards;
				-ms-animation: cloud5Animation 25s infinite normal ease-in-out forwards;
				-o-animation: cloud5Animation 25s infinite normal ease-in-out forwards;
			}
		}
	}
} 


// -----------------------------------------
//   Goals
//----------------------------------------- */
#goals { 
	z-index:2;
	height:950px;
	background-image:url('../images/goal-bg.gif');
	background-repeat:repeat-x;
	background-position:left bottom;
	padding:0;
	font-size:1.15em;
	.preamble { 
		position:absolute;
		top:120px;
		left:150px;
		float:left;
		width:450px; 
		z-index:999;
		h1 { 
			color:$acsdarkblue;
			font-size:6em;
			font-weight:100;
		}
		span { font-size:2em; }
	}
	.hexwrap {
		position:relative; 
		left:20px;
		float:right;
	}	
	.hex {
		position:absolute; 
		background-color: transparent;
		background-image:url('../images/goals-sprite-hex.png');
		background-repeat:no-repeat;
		width:265px;
		height:232px;
		padding:40px;
		color:#fff;
		text-align:center;
		font-size:1.15em;
		h4{ 
			color:#fff;
			line-height:1em;
			font-weight:bold;
			padding-top:1.75em;
			padding-bottom:0.75em;
			*padding-bottom:0;
			margin:auto;
		}
		&.one { 
			background-position:-10px 0; 
			right:0; 
		}
		&.two { 
			background-position:-357px 0; 
			top:290px; 
			right:0; 
			h4{ padding-top:0.5em; width:200px; }
		}
		&.three { 
			background-position:-708px 0; 
			top:435px; 
			right:248px; 
		}
		&.four { 
			background-position:-1056px 0; 
			top:580px; 
			right:497px; 
			h4{ padding-top:0.75em; width:180px; }
		}
		.num { 
			display:none;
		}
		.desc { 
			display:block;
			margin:0 auto 1.25em;
			padding-top:2.75em;
			width:220px;
		}
		a { 
			@include gradient-linear(#5f99d9, #3568a7);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f99d9', endColorstr='#3568a7',GradientType=0);
			color:#fff;
			font-size:0.85em;
			text-shadow:0 -1px 0 #3568a7;
			padding:5px 10px 7px 15px;
			border-radius:$btnradius;
			cursor:pointer;
			box-shadow:0 1px 2px #000000;
			.btnLearnMore {
				background:transparent url('../images/sprite.png') no-repeat scroll 5px 0;
				position:relative;
				top:8px;
				width:30px;
				height:25px;
				display:inline-block;
			}
			&:hover {
				@include gradient-linear(#5f99d9, #114180);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f99d9', endColorstr='#114180',GradientType=0);
			}
		}
	}
}

.elements { 
	background-color: transparent;
	//background-image:url('../images/goals-sprite.png');
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	opacity:1;
	display:none;
}
.elements.sphere1 { 
	background-position:0px 0px; 
	width:415px; 
	height:415px; 
	top:520px;
	left:75%;
	z-index:1;
}
.elements.sphere2 { 
	background-position:-438px -5px; 
	width:300px; 
	height:300px; 
	top:400px;
	left:-50px; 
}
.elements.sphere3 { 
	background-position:-759px -6px; 
	width:200px; 
	height:200px; 
	top:-190px;
	right:0; 
}
.elements.sphere4 { 
	background-position:-783px -228px;
	width:176px; 
	height:176px; 
	top:-100px;
	left:-30px; 
}
.elements.sphere5 { 
	background-position:-970px top;
	width:500px; 
	height:500px; 
	left:87%;
	top:130px;
	z-index:3;
	@include transition(all ,2s, linear);
}	

// -----------------------------------------
//   Goals Detail
//----------------------------------------- */
dl.tabs { margin:2.5em 0 1.5em;
	dd { 
		a { 
			border:1px solid #ccc;
			color:#444;
			padding:0 15px;
			&.active, &:hover { 
				color:#226ABC;
				font-weight:bold;
			}
		}
	}
}

.goal-intro {
	position:relative;
	min-height:400px;
	max-height:400px;
	margin-bottom:1.5em;
	color:#fff;
	overflow:hidden;
	.row { 
		position:relative;
		top:240px;
		z-index:999;
		@include transition(top ,1s, linear);
		.goalNum {
			line-height:1.25em;
			font-size:2.5em;
			font-weight:200;
			text-align:center;
			.num {
				display:block;
				font-family: 'Times';
				font-size:3em;
				line-height:1em;
			}
		}
		.goalHd { 
			h2 { color:#fff; line-height:1em; }
			p { font-size:1.35em; }
		}
	}
}

.goal-content { 
	.four { padding-top:2em; 
		img { 
			max-width:100%;
		}	
	}
	.extras { 
		margin:20px 0 0 30px;
	}
}

.tabs-content { 
	clear:both;
	h6 { margin-left:15px; display:none; }
	li { margin-bottom:0;
		ul { 
			li { 
				list-style:disc;
				margin-bottom:12px;
			}
		}
	}
}
.progress { 
	margin:4em 0 2em;
}
.progress-heading { 
	text-transform:uppercase;
	text-align:center;
	display:block;
	margin:0;
	border-top:1px solid #ccc;
	color:#555;
	span { 
		background:#fff;
		font-size:1.5em;
		font-weight:200;
		position:relative;
		top:-13px;
		padding:0 15px;
	}
}
.progress-block {
	float:left;
	background:#eee;
	border-radius: 5px;
	text-align:center;
	vertical-align:middle;
	min-height:200px;
	background-repeat:no-repeat;
	background-position:top right;
	&:first { margin-left:none; }
	.num { 
		display:block; 
		color:#5194E2;
		text-shadow:0 1px 0px #fff;
		padding:0.4em 0 0.3em;
		font-size:4em;
		&.small { font-size:3em; line-height:1.65em; text-align:center; }
		span { 
			display:block;
			font-size:0.4em;
			color:#333;
			margin-top:-5px;
		}
	}
	.desc { 
		display:block;
		text-shadow:0 1px 0px #fff;
		border-top:1px solid #fff;
		box-shadow:0 -1px 0 #ccc; 
		padding:1em; 
		font-size:0.95em;
	}
	&.jobs { 
		background-image:url(../images/box-bg-networking.jpg); 
		background-position:200% -17px; 
	}
	&.nobel { 
		background-image:url(../images/box-bg-noble.jpg); 
		background-position:85% 7px;
		.num { 
			text-align:left;
			padding-left:0.9em; 
		}
	}
	&.flag { 
		background-image:url(../images/box-bg-flag.jpg); 
		background-position:right -3px; 
	}
	&.capital { 
		background-image:url(../images/box-bg-capital.jpg); 
		background-position:right -28px; 
	}
}

.extras a { 
	background: #555555; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #555555 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #555555 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #555555 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #555555 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(top,  #555555 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 ); /* IE6-8 */
	border-radius:50px;
	width:36px;
	height:36px;
	display:inline-block;
	margin-right:5px;
	cursor:pointer;
	span { 
		background:transparent url('../images/sprite.png') no-repeat scroll 100px 100px; 
		width:24px;
		height:24px;
		display:block;
		margin:6px auto 0;
	}
	&.video {
		span { background-position:-1px -33px; }
		.label { 
			background:none; 
			position:relative; 
			left:41px;
			top:-26px;
			width:100px; 
			//display:none;
		}
	}
	&.charts span { background-position:2px -65px; }
	&.chat span { background-position:1px -96px; }
}
.extras a:hover { 
	background: #5195e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOTVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTM5NmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5195e0 0%, #11396a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5195e0), color-stop(100%,#11396a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5195e0 0%,#11396a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5195e0 0%,#11396a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5195e0 0%,#11396a 100%); /* IE10+ */
	background: linear-gradient(top,  #5195e0 0%,#11396a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5195e0', endColorstr='#11396a',GradientType=0 ); /* IE6-8 */
}
.video-box {
	a { display:-moz-stack; display:block;
		object { width:480x; height:360px; display:block; }
	}
}


// Goal Specific
#goal1 .goal-intro {
	background-color:$goal1color;
	.bg { 
		position:absolute;
		//background-image:url('../images/goal1-bg.jpg');
		background-repeat:no-repeat;
		background-position:75% 20px;
		background-attachment:fixed;
		width:100%;
		height:401px;
		display:none;	
	}
	#parallax { 
		position:absolute; 
		right:0;
		bottom:0;
		width:40%;
		height:400px;
	}
	.sprite { 
		position:absolute;
		background-color:transparent;
		//background-image:url(../images/goal1-sprite.png);
		background-repeat:no-repeat;
		background-position:0 0;	
		//display:block;
		display:none;
		&.layer1 { 
			background-image:url(../images/goal1-sprite1.png) !important;
			width:727px;
			height:750px;
			top:90% !important;
			right:-460px;
			z-index:4;
		}
		&.layer2 { 
			width:500px;
			height:565px;
			background-position:-11px -24px; 
			right:-40px;
			z-index:2;
		}
		&.layer3 { 
			width:626px;
			height:760px;
			background-position:-515px -1px; 
			top:-90px;
			right:-90px !important;
			z-index:1;
		}
		&.layer4 { 
			width:350px;
			height:255px;
			background-position:-959px -478px; 
			top:46%;
			right:230px !important;
			z-index:3;
		}
	}		
}
#goal2 .goal-intro {
	background:#111;
	.sprite-wrap { 
		position:relative;
		top:-137px;
		margin:0 auto;
		width:1280px;
		height:400px;
		.sprite { 
			//background-image:url('../images/goal2-bg.jpg');
			background-repeat:no-repeat;
			background-position:0 0;
			width:320px;
			height:200px;
			position:absolute;
			float:left;
			opacity:0;
			filter:alpha(opacity = 15);
			&.img1 { background-position:0 top; top:0px; left:0px; }
			&.img2 { background-position:-320px top; top:0px; left:320px;}
			&.img3 { background-position:-640px top; top:0px; left:640px;}
			&.img4 { background-position:-960px top; top:0px; left:960px;}
			&.img5 { background-position:0 bottom; bottom:0px; left:0px;}
			&.img6 { background-position:-320px bottom; bottom:0px; left:320px;}
			&.img7 { background-position:-640px bottom; bottom:0px; left:640px;}
			&.img8 { background-position:right bottom; bottom:0px; right:0px;}
		}
	}
}
#goal3 .goal-intro {
	background-color:$goal3color;
	.sprite { 
		//background-image:url('../images/goal3-sprite.png');
		background-repeat:no-repeat;
		background-position:0 0;
		@include transition(right ,1s, linear);
		display:none;
		width:528px;
		height:349px;
		position:absolute;
		bottom:0px;
		right:-3%;
	}
}
#goal4 .goal-intro {
	background-color:$goal4intro;
	.row { 
	}
	.sprite { 
		background-color:transparent;
		background-repeat:no-repeat;
		display:none;
		@include transition(right ,1s, linear);
		
		&.bg { 
			//background-image:url('../images/goal4-bg.jpg');
			background-position:50% -80%;
			//background-attachment:fixed;
			width:100%;
			height:761px;
			position:absolute;
		}
		&.element1 { 
			//background-image:url(../images/goal4-sprite.png);
			background-position:130% 0px;
			width:581px;
			height:604px;
			top:-75px;
			right:-15%;
			position:absolute;
			display:none;
		}
		
	}
}


.preload { display:none; }


/*--------------------------------------------------
:: Media Queries
-------------------------------------------------- */
/* iPad [portrait + landscape] */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	nav { 
		ul { 
			li { 
				&.downloadpdf { margin-left:0;
					a { 
						background-position:5px -123px;
						padding-right:0;
						height:15px;
						span { display:none; }
					}
				}
			}
		}
	}
	
	#visionmission {
		.title {
			.sp12 { left:7%; }
			.andbeyond { left:39%; }
		}
		.vision, .mission { left:7%; } 
	}
	#corevalue { 
		.row { left:-25px; }
		.graphic-earth { 
			margin:0 -5%;
		}
		.sprite {
			&.windmill { 
				&.lrg { left:380px; 
					&.btm { left:699px; }
				}
				&.med { left:374px; 
					&.btm { left:710px; }
				}
				&.sm { left:371px; 
					&.btm { left:724px; }
				}
			}
		}
		.col-l { left:15%; }
		.col-r { left:47%; }
	}
	#goals {
		.preamble { left:7%; width:420px; }
		.hex { z-index:2; }
	}
	.elements.sphere2 { display:none !important; }
	.elements.sphere5 {left:90%; top:400px; }
	
	.goal-intro .row { top:190px; }
	.goal-content { padding:0 15px; }
	#goal1 {
		.goal-intro { 
			background-position:52% 66px;
			#parallax { right:-23%; }
			.bg { 
				background-attachment:scroll;
			}
		}
	}
	#goal2 { 
		.goal-intro {
			.sprite-wrap { top:-167px; }
		}
	}
	#goal3 .goal-intro {
		.sprite { 
			right:-9%;
		}
	}
	#goal4 .goal-intro {
		.sprite { 
			&.bg { 
				background-position:right -80%; 
			}
			&.element1 { 
				right:-35%;
			}
		}
	}
	.progress-block { background-image:none !important; }
	.extras a { 
		&.video {
			.label { 
				display:block;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.block-grid.mobile.four-up li { float:left; width:48%; margin-left:2%; }
	.downloadpdf { 
		right:0%;
		top:20px;
		float:none;
	}	
	header { 
		background-position:0 0; 
		min-height:45px; 
		.hd { 
			.acslogo { display:none; }
			.hd-corner { display:none; }
			.acstext { 
				display:inline-block; 
				float:left; 
				margin-top:7px; 
				font-weight:bold; 
				font-size:0.9em; 
			}
		}
		nav { 
			top:1px; 
			width:auto;
			ul { display:none; }
			select { display:inline-block; }
		}
	}
	.container { 
		background:#C8DFEA url("../images/home-bg.gif") repeat-x scroll left top;
	}
	#visionmission { 
		background:none;
		height:auto;
		padding-top:5em;
		.title { 
			font-size:3.5em;
			line-height:1em;
			top:0;
			.sp12 { 
				left:0px;
			}
			.andbeyond {
				color:$acsdarkblue; 
				position:static;
				top:0;
				left:0;
			}
		}
		.vision, .mission { 
			top:50px;
			left:0;
			width:100%;
		}
	}
	
	#corevalue { 
		margin-top:4em;
		height:auto;
		text-shadow:none;
		color:#333 !important;
		.row { left:0; }
		p {
			top:0; left:0;
			width:100%;
			font-size:115%;
		}
		h1 { 
			font-size:2.5em;
			font-weight:200;
			text-align:left !important;
			left:0;
			top:0;
			width:100%;
			color:$acsdarkblue;
		}
		h5 { 
			line-height:1.2em; 
			color:#000;
		}
		.col-l, .col-r { 
			top:0;
			width:100%; 
		}
		.col-l { 
			float:left;
			left:0;
		}
		.col-r {
			float:left; 
			left:0;
		}
		ul { margin-bottom:1.5em;
			li {  }
		}
		.graphic-earth { display:none; }
		.sprite { display:none; }
	} 
		
	#goals { 
		margin-top:3em;
		padding:0;
		height:1480px;
		.preamble { 
			position:relative;
			top:0;
			left:0;
			float:none;
			width:100%; 
			h1 { 
				color:$acsdarkblue;
				font-size:2.5em; 
				font-weight:200;
			}
			span { font-size:1.5em; }
		}
		.hexwrap { float:none; }	
		.hex {
			position:relative; left:-30px;
			h4{ 
				color:#fff;
				line-height:1em;
				font-weight:bold;
				padding-top:1.75em;
				padding-bottom:0.75em;
				*padding-bottom:0;
				margin:auto;
			}
			&.one { right:0; }
			&.two { top:-22px; right:0; }
			&.three { top:-47px; right:0; }
			&.four { top:-71px; right:0; }
		}
		.sprite-wrap { 
			.elements { display:none !important; }
		}
	}
	.elements, .sprite { display:none !important; }
	
	.goal-intro {
		background-image:none !important;
		max-height:350px !important;
		min-height:350px !important;
		.bg { background-image:none !important; }
		.row { 
			top:30px !important;
			.goalNum { 
				margin-bottom:0em;
				font-size:200% !important;
				.num { font-size:450% !important; }
			}
			.goalHd { 
				text-align:center; 
				h2 { font-size:200% !important; }
				p { font-size:125% !important; }
			}
		}
	}
	dl.tabs { margin-bottom:3em !important; }
	.tabs-content { font-size:1.15em; }
	.goal-content { 
		.four { text-align:center; padding-bottom:2em; }
	}
	.progress { margin:1.25em 0 2em; }
	.progress-block { 
		min-height:260px;
		background-image:none !important;
		.desc { font-size:1.15em; }
	}
	
	.reveal-modal { top:0.5%; }
}


@media only screen and (max-width: 320px) {
	#goals { 
		.hexwrap { left:0; }
	}
	dl.tabs { 
		dd { width:100%; }
	}
	.tabs-content { 
		border:1px solid #ccc;
		padding-top:1em;
		padding-bottom:1em;
		ul { margin:4px 10px 5px 30px; }
	}
	.progress-block { 
		min-height:220px;
		.num { font-size:2.8em; 
			&.small { font-size:2.25em; }
		}
		.desc { font-size:1em; }
		&.job { background-position:8px -32px; }
		&.nobel { background-position:-40px -16px; }
		&.flag { background-position:-7px 0; }
		&.capital { background-position:24px -26px; }
	}
}